*{
    margin:0;padding:0;list-style-type: none;
}
body{
    font-family:'Microsoft YaHei';
    background:#fff;
    font-size: 14px;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.wrap{
	min-width: 1280px;

}
.header{
	height: 56px;
	line-height: 56px;
}